html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  width: 1024px;
  margin: 0 auto;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation__header {
  display: flex;
  justify-content: center;
}

.navigation__list {
  list-style-type: none;
  margin: 0 16px;
}

.navigation .navigation__link {
  text-decoration: none;
  color: #000;
}

.navigation .navigation__link:active {
  color: #000;
}

.main {
  margin-top: 50px;
}

.header {
  text-align: center;
}

.last_article .last_article__header {
  text-align: center;
}

.about .about__header {
  text-align: center;
}

.footer {
  bottom: 0;
  left: 50%;
  text-align: center;
}