body {
  background-color: #fdfdfd;
  width: 1024px;
  margin: 0 auto;
}

.navigation {
  position: fixed;
  top: 10px;
  left: 5px;
}

.header {
  text-align: center;
}

.last_article .last_article__header {
  text-align: center;
}
.about .about__header {
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  text-align: center;
}